/* .datatable_scroller table {
  -webkit-transition: -webkit-transform 0.1s ease;
  -moz-transition: -moz-transform 0.1s ease;
  -o-transition: -o-transform 0.1s ease;
  -ms-transition: -ms-transform 0.1s ease;
  transition: transform 0.1s ease;
} */

#table_container {
  overflow-y: scroll;
  width: 100%;
}

.jdt-datatable-table {
  padding: 0;
  width: 100%;
  border-collapse: collapse;
}

.jdt-datatable-table td {
  text-align: center;
}

.jdt-datatable-headers-table {
  table-layout: fixed;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  width: 100%;
  border-collapse: collapse;
}

.jdt-datatable-selected-row {
  background-color: gray !important;
}

.jdt-header-sort {
  position: relative;
  cursor: pointer;
  transition: background-color ease .25s;
}

.jdt-header-sort:hover {
  background-color: rgba(255, 255, 255, 0.253);
}

.jdt-header-sort-button {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 5px;
  cursor: pointer;
  border: none;
  width: 100% !important;
  height: 100% !important;
  background-color: transparent !important;
  border: none !important;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
}

.jdt-header-sort-template {
  width: 85% !important;
  margin: 0;
  padding: 0;
  background-color: transparent !important;
  border: none !important;
}

.jdt-header-sort-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100% !important;
  margin: 0;
  padding: 0;
  background-color: transparent !important;
  border: none !important;
  font-size: 0.75em !important;
}

.jdt-header-sort-top-icon {
  margin-bottom: -2px;
}

.jdt-header-sort-bottom-icon {
  margin-top: -2px;
}

.my-headers {
  background-color:darkslategray;
  border-bottom: 1px solid black;
}
.my-headers-row {
  background-color: green;
}

.my-rows-white {
  background-color: white;
}

.my-rows-grey {
  background-color: lightgray;
}

.border-black {
  border-bottom: 1px solid black;
}
