/* .datatable_scroller table {
  -webkit-transition: -webkit-transform 0.1s ease;
  -moz-transition: -moz-transform 0.1s ease;
  -o-transition: -o-transform 0.1s ease;
  -ms-transition: -ms-transform 0.1s ease;
  transition: transform 0.1s ease;
} */

#table_container {
  overflow-y: scroll;
  width: 100%;
}

.pb-datatable-table {
  padding: 0;
  width: 100%;
  border-collapse: collapse;
}

.pb-datatable-table td {
  text-align: center;
}

.pb-datatable-headers-table {
  table-layout: fixed;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  width: 100%;
  border-collapse: collapse;
}

.datatable-selected-row {
  background-color: gray !important;
}

.my-headers {
  background-color:darkslategray;
  border-bottom: 1px solid black;
  }
.my-headers-row {
  background-color: green;
}

.my-rows-white {
  background-color: white;
}

.my-rows-grey {
  background-color: lightgray;
}

.border-black {
  border-bottom: 1px solid black;
}